@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: var(--vscode-editor-background);
    --foreground: var(--vscode-editor-foreground);
    --card: var(--vscode-editor-background);
    --card-foreground: var(--vscode-editor-foreground);
    --popover: var(--vscode-editor-background);
    --popover-foreground: var(--vscode-editor-foreground);
    --primary: var(--vscode-button-background);
    --primary-foreground: var(--vscode-button-foreground);
    --secondary: var(--vscode-button-secondaryBackground);
    --secondary-foreground: var(--vscode-button-secondaryForeground);
    --muted: var(--vscode-disabledForeground);
    --muted-foreground: var(--vscode-descriptionForeground);
    --destructive: var(--vscode-errorForeground);
    --destructive-foreground: var(--vscode-editor-background);
    --border: var(--vscode-widget-border);
    --input: var(--vscode-input-background);
    --ring: var(--vscode-focusBorder);
    --radius: 0.5rem;
    --accent: var(--vscode-button-background);
    --accent-foreground: var(--vscode-button-foreground);
    --focus: var(--vscode-editorActionList-focusBackground);
    --focus-foreground: var(--vscode-editorActionList-focusForeground);
    --code-background: var(--vscode-textCodeBlock-background);
  }
}

@layer components {
  .border,
  .border-r,
  .border-l,
  .border-t,
  .border-b,
  .border-x,
  .border-y {
    border-color: var(--vscode-widget-border);
  }

  pre, code {
    background-color: var(--code-background);
  }
}

.katex {
  font-size: 1.34em !important;
}